*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, ul{
    font-family: 'Spirax', cursive;
}
p{
    font-family: 'Poiret One', cursive;
    background-color: rgba(255, 0, 0, 0.603);
    color: white;
}
#text1{
    font-size: 20px;
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    margin-left: 300px;
    padding: 10px 30px;
}
#text2{
    font-size: 20px;
    position: absolute;
    display: inline-block;
    margin-left: 600px;
    margin-top: 60px;
    padding: 10px 30px;
}
.choices{
    position: absolute;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
display: inline-block;
margin-top: 200px;
margin-left: 600px;
list-style-type: none;

}
body{
    overflow: scroll;
}
nav{
    position: fixed;
    background-color: rgba(62, 46, 63, 0.342);
    color: white;
    width: 100%;
    z-index: 1;


}
.menu{
    width: 100%;
    text-align: center;
   
}
.menu li{
    display: inline-block;
    font-size: 40px;
    margin: 10px 100px;
    
}
a{
    color: white;
    text-decoration: none;
}
#hot{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
#juicy{
    margin: 0 10px;
}
#cosy{
    margin:0 10px;
}

.hot{
    background-image: url(img/hot.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}
h1{
    color: red;
    font-size: 70px;
    position: relative;
    padding: 60px 0;
    text-align: center;
}
.juicy{
    background-image: url(img/juicy.jpg);
    background-size: cover;
    background-position: 50%, 50%;
    height: 100vh;
}
.cosy{
    background-image: url(img/cosy.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}
.choices{
    background-color: rgba(0, 0, 0, 0.425);
    color: white;

}
.t1{
    text-align: left;
}
.t2{
    padding-left: 60px;
    text-align: right;
}
html{
    scroll-behavior: smooth;
}